<div class="container">
  <h2> Spielpreviews </h2>
 
  <div class="list-group clearfix" *ngFor="let anounce of previews" >
      <div class="row list-group-item" >
        <div class="col"> <h4> {{ anounce.homeTeam }} </h4> </div>
        <div class="col"> <h4> {{ anounce.guestTeam }} </h4> </div>
      </div>
      <div class="row list-group-item">
        <div class="col">
          <img [src]= "anounce.homeEm.href">
        </div>
        <div class="col">
          <img [src]= "anounce.guestEm.href">
        </div>
      </div>
      <div class="row list-group-item">
        <div class="col"> Am {{ anounce.date | date: "d" }}.{{ anounce.date | date: "M" }} spielt 
        {{ anounce.homeTeam }} gegen {{ anounce.guestTeam }} im {{ anounce.loc }}. Anpfiff ist um 
        {{ anounce.date | date: "H" }} Uhr. 
        </div>      
      </div>
      <div class="row list-group-item">
        <div class="col"> {{ anounce.desc }} </div>
      </div>
      <hr>
  </div>
</div>