<div class="container">
 <form>
    <div class="form-group row">
      <label for="input-home" class="col-2 col-form-label"> Heimmannschaft </label>
      <div class="col-4">
        <input class="form-control" type="text" value="Mannschaftsname" id="input-home">
      </div>
    </div>
    
    <div class="form-group row">
      <label for="input-guest" class="col-2 col-form-label">Gastmannschaft</label>
      <div class="col-4">
        <input class="form-control" type="text" value="Gastmannschaft" id="input-guest">
      </div>
    </div>  
    <div class="form-group row">
      <label for="input-home-em" class="col-2 col-form-label"> Vereinswappen Heim </label>
      <div class="col-4">
        <input class="form-control" type="url" value="https://vereinswappen.com" id="input-home-em">
      </div>
    </div>
    <div class="form-group row">
      <label for="input-guest-em" class="col-2 col-form-label"> Vereinswappen Gast </label>
      <div class="col-4">
        <input class="form-control" type="url" value="https://vereinswappen.com" id="input-guest-em">
      </div>
    </div>    
    <div class="form-group row">
      <label for="example-datetime-local-input" class="col-2 col-form-label">Spieltag und Anstoß </label>
      <div class="col-4">
        <input class="form-control" type="datetime-local" value="2017-08-19T13:45:00" id="example-datetime-local-input">
      </div>
    </div>
    <div class="form-group row">
      <label for="input-loca" class="col-2 col-form-label"> Spielort </label>
      <div class="col-4">
        <input class="form-control" type="text" value="Stadionname" id="input-loca">
      </div>
    </div>   
    <div class="form-group row">
      <label for="input-descrip" class="col-2 col-form-label"> Beschreibung </label>
      <div class="col-4">
        <input class="form-control" type="text" value="Ankündigungsschreiben ..." id="input-descrip">
      </div>
    </div>
    <button class="btn btn-success" type="submit" (click)="inputDataToObject()"> Preview anlegen </button>
  </form>
</div>

<!--
 -->


<!--
-->